DNA {
    "bms.cmd" String "./bms",
    "shell.ext" String "sh",
    "deflocale" String "en",
    "jdk_path" String "/usr/java/jdk1.6.0_30",
    "appserver" String "weblogic",
    "website_module" String "{{ BRAND }}",
    "weblogic_path" String "/opt/software/bea",
    "weblogic_wls_path" String "/opt/software/bea/wlserver_10.3",
    "weblogic_domain" String "bluemartini",
    "weblogic_domain_password" String "BlueMartini",
    "weblogic_user" String "system",
    "weblogic_password" String "BlueMartini",
    "weblogic.install" String "/opt/software/bea/wlserver_10.3",
    "weblogic.server.path" String "/opt/software/bea/wlserver_10.3/server",
    "weblogic.common" String "/opt/software/bea/wlserver_10.3/common",
    "weblogic.root" String "appserver/weblogic",
    "weblogic.properties" String "core/config/configurator/include/appserver/WLSTScripts/silent.py.properties",
    "weblogic.script" String "core/config/configurator/include/appserver/WLSTScripts/silent.py",
    "appserver.config.xml" String "appserver/weblogic/bluemartini/config/config.xml",
    "websphere_cell" String "WASDevCell",
    "websphere_node" String "{{ ansible_hostname }}",
    "websphere_appserver_name" String "WASDevServer",
    "websphere_dev_mode_enabled" String "true",
    "websphere_hostname" String "{{ ansible_hostname }}",
    "websphere_profile_name" String "WASDevProfile",
    "websphere_profile_start_port" String "{{ ADMIN_SSL_PORT }}",
    "jboss_configuration" String "bluemartini",
    "jboss_user" String "admin",
    "jboss_password" String "BlueMartini",
    "jboss_server_port" String "{{ JBOSS_SERVER_PORT }}",
    "jboss_ssl_port" String "{{ JBOSS_SSL_PORT }}",
    "jboss_rmi_port" String "{{ JBOSS_RMI_PORT }}",
    "admin_server" String "{{ ansible_hostname }}",
    "admin_http_server_port" String "{{ ADMIN_STANDARD_PORT }}",
    "admin_ssl_port" String "{{ ADMIN_SSL_PORT }}",
    "eac_server" String "{{ SERVICES_SERVER }}",
    "eac_http_server_port" String "{{ EAC_HTTP_SERVER_PORT }}",
    "eac_ssl_port" String "{{ EAC_SSL_PORT }}",
    "eac_target_name" String "EAC",
    "ems_server" String "{{ SERVICES_SERVER }}",
    "ems_http_server_port" String "{{ EMS_HTTP_SERVER_PORT }}",
    "ems_ssl_port" String "{{ EMS_SSL_PORT }}",
    "edesk_target_name" String "EMS",
    "jms_server" String "{% if jms -%} {{ ansible_hostname }}{% else -%} {{ SERVICES_SERVER }} {%- endif %}",
    "jms_http_server_port" String "{{ JMS_SERVER_PORT }}",
    "jms_ssl_port" String "{{ JMS_SSL_PORT }}",
    "jms_server_name" String "JMS",
    "jms_target_name" String "JMS",
    "rd_server" String "{{ ansible_hostname }}",
    "rd_http_server_port" String "{{ RD_HTTP_SERVER_PORT }}",
    "rd_ssl_port" String "{{ RD_SSL_PORT }}",
    "rd_target_name" String "RemoteDesktop",
    "publish_server" String "{{ SERVICES_SERVER }}",
    "publish_http_server_port" String "{{ PUBLISH_HTTP_SERVER_PORT }}",
    "publish_ssl_port" String "{{ PUBLISH_SSL_PORT }}",
    "publish_user" String "blue",
    "publish_password" String "{{ PUBLISH_PASSWORD }}",
    "publish_target_name" String "Publish",
    "blueplanet_server" String "{{ ansible_hostname }}",
    "blueplanet_http_server_port" String "{{ BLUEPLANET_HTTP_SERVER_PORT }}",
    "blueplanet_ssl_port" String "{{ BLUEPLANET_SSL_PORT }}",
    "blueplanet_target_name" String "BluePlanet",
    "enable_wsm_blueplanet" String "false",
    "deploy_blueplanet_services" String "false",
    "bluegrass_server" String "{{ ansible_hostname }}",
    "bluegrass_http_server_port" String "{{ BLUEGRASS_HTTP_SERVER_PORT }}",
    "bluegrass_ssl_port" String "{{ BLUEGRASS_SSL_PORT }}",
    "bluegrass_target_name" String "BlueGrass",
    "enable_wsm_bluegrass" String "false",
    "deploy_bluegrass_services" String "false",
    "website_server" String "{{ ansible_hostname }}",
    "website_http_server_port" String "{{ HTTP_PORT }}",
    "website_ssl_port" String "{{ HTTPS_PORT }}",
    "website_target_name" String "{{ WEBSITE_TARGET_NAME }}",
    "enable_wsm_website" String "true",
    "deploy_website_services" String "false",
    "websphere_vhost_name" String "WASDevVirtualHost",
    "websphere_vhost_port" String "{{ WEBSPHERE_VHOST_PORT }}",
    "websphere_vhost_ssl_port" String "{{ WEBSPHERE_VHOST_SSL_PORT }}",
    "websphere_rmi_port" String "2809",
    "site_preview_application" String "website",
    "site_preview_context_root_enabled" String "false",
    "site_preview_template" String "index.jsp",
    "site_preview_server" String "{{ ansible_hostname }}",
    "site_preview_port" String "{{ SITE_PREVIEW_PORT }}",
    "site_preview_context_root" String "",
    "payment" String "cybersource",
    "payment_api" String "scmp",
    "directory_url" String "{{ DIRECTORY_URL }}",
    "directory_browsing_user" String "cn=Directory Manager",
    "directory_browsing_password" String "DirMan",
    "directory_search_root" String "{{ DIRECTORY_SEARCH_ROOT }}",
    "directory_search_filter" String "uid={0}",
    "search" String "solr",
    "fast_Admin_port" String "13000",
    "fast_search_engine_port" String "15100",
    "solr_host" String "{{ ansible_hostname }}",
    "solr_port" String "{{ SOLR_PORT }}",
    "solr_query_host" String "{{ ansible_hostname }}",
    "solr_query_port" String "{{ SOLR_QUERY_PORT }}",
    "rule_engine" String "drools",
    "database" String "oracle",
    "oracle_path" String "/usr/lib/oracle/11.2",
    "sqlserver_version" String "SQL2005",
    "db_encoding" String "UTF-8",
    "db_name" String "martini",
    "db_MAIN_server" String "{{ DB_SERVER }}",
    "db_MAIN_oracle_sid" String "{{ ORACLE_SERVICE }}",
    "db_MAIN_oracle_service" String "{{ ORACLE_SERVICE }}",
    "db_MAIN_oracle_system_username" String "system",
    "db_MAIN_username" String "{{ DB_MAIN_USERNAME }}",
    "db_MAIN_password" String "{{ DB_MAIN_PASSWORD }}",
    "db_STORE_server" String "{{ DB_SERVER }}",
    "db_STORE_oracle_sid" String "{{ ORACLE_SERVICE }}",
    "db_STORE_oracle_service" String "{{ ORACLE_SERVICE }}",
    "db_STORE_oracle_system_username" String "system",
    "db_STORE_username" String "{{ DB_STORE_USERNAME }}",
    "db_STORE_password" String "{{ DB_MAIN_PASSWORD }}",
    "db_CLICKSTREAM_server" String "{{ DB_SERVER }}",
    "db_CLICKSTREAM_oracle_sid" String "{{ ORACLE_SERVICE }}",
    "db_CLICKSTREAM_oracle_service" String "{{ ORACLE_SERVICE }}",
    "db_CLICKSTREAM_oracle_system_username" String "system",
    "db_CLICKSTREAM_username" String "{{ DB_CLICKSTREAM_USERNAME }}",
    "db_CLICKSTREAM_password" String "{{ DB_MAIN_PASSWORD }}",
    "db_PUBLISH_server" String "{{ DB_SERVER }}",
    "db_PUBLISH_oracle_sid" String "{{ ORACLE_SERVICE }}",
    "db_PUBLISH_oracle_service" String "{{ ORACLE_SERVICE }}",
    "db_PUBLISH_oracle_system_username" String "system",
    "db_PUBLISH_username" String "{{ DB_PUBLISH_USERNAME }}",
    "db_PUBLISH_password" String "{{ DB_MAIN_PASSWORD }}",
    "db_EAC_server" String "{{ DB_SERVER }}",
    "db_EAC_oracle_sid" String "{{ ORACLE_SERVICE }}",
    "db_EAC_oracle_service" String "{{ ORACLE_SERVICE }}",
    "db_EAC_oracle_system_username" String "system",
    "db_EAC_username" String "{{ DB_EAC_USERNAME }}",
    "db_EAC_password" String "{{ DB_EAC_PASSWORD }}",
    "eac_path_sec_file" String ""
}
