DNA {
    "bms.cmd" String "./bms",
    "shell.ext" String "sh",
    "appserver" String "weblogic",
    "weblogic.root" String "appserver/weblogic",
    "ctc_server" String "localhost",
    "ctc_server_port" String "{{ CTC_SERVER_PORT }}",
    "ctc_ssl_port" String "{{ CTC_SSL_PORT }}",
    "ctc_target_name" String "ContactCenter",
    "enable_wsm" String "false",
    "websphere_vhost_name" String "WASDevVirtualHost",
    "websphere_vhost_port" String "{{ CC_WEBSPHERE_VHOST_PORT }}",
    "websphere_vhost_ssl_port" String "{{ CC_WEBSPHERE_VHOST_SSL_PORT}}",
    "websphere_rmi_port" String "{{ WEBSPHERE_RMI_PORT }}",
    "deploy_services" String "false",
    "deploy_import_services" String "false"
}
