DNA {
    // This needs to be here because you need a new fultext directory for
    // each product database
    "ANALYTICS_DB_OWNER" String "dbo",
    "BMS_SEARCH_DB_DIR" String "$FULCREATE",
    "CLICKSTREAM_DB_CODESET" String "Cp1252",
    // "CLICKSTREAM_DB_DRIVER" String "weblogic.jdbc.mssqlserver4.Driver",
    "CLICKSTREAM_DRIVER" String "com.microsoft.sqlserver.jdbc.SQLServerDriver",
    "CLICKSTREAM_DB_INSTANCE" String "martini_CLICKSTREAM",
    "CLICKSTREAM_DB_DB2_DATABASE" String "martini",
    // Use "ORACLE ODBC DRIVER" for oracle.
    // Use "SQL Server" for sql server.
    // Use "IBM DB2 ODBC DRIVER" for IBM DB2.
    "CLICKSTREAM_DB_ODBC_DRIVER" String "ORACLE ODBC DRIVER",
    "CLICKSTREAM_DB_OWNER" String "dbo",
    "CLICKSTREAM_DB_PASSWORD" String "",
    "CLICKSTREAM_DB_SERVER" String "jdc1-scan-01",
    "CLICKSTREAM_DB_SERVICE" String "{{ ORACLE_SERVICE }}",
    "CLICKSTREAM_DB_SID" String "{{ ORACLE_SERVICE }}",
    "CLICKSTREAM_DB_USER" String "{{ DB_CLICKSTREAM_USERNAME }}",
    "CLICKSTREAM_DB_VENDOR" String "oracle",
    "CLICKSTREAM_DB_DATASOURCE" String "oracle.jdbc.pool.OracleConnectionPoolDataSource",
    "CLICKSTREAM_DB_SUPPORTS_CONNECTION_CONTEXT" String "false",
    "DSS_DB_OWNER" String "dbo",
    "MAIN_DB_CODESET" String "Cp1252",
    // "MAIN_DB_DRIVER" String "weblogic.jdbc.mssqlserver4.Driver",
    "MAIN_DB_DRIVER" String "oracle.jdbc.OracleDriver",
    "MAIN_DB_INSTANCE" String "martini_MAIN",
    "MAIN_DB_DB2_DATABASE" String "martini",
    // Use "ORACLE ODBC DRIVER" for oracle.
    // Use "SQL Server" for sql server.
    // Use "IBM DB2 ODBC DRIVER" for IBM DB2.
    "MAIN_DB_ODBC_DRIVER" String "ORACLE ODBC DRIVER",
    "MAIN_DB_OWNER" String "dbo",
    "MAIN_DB_PASSWORD" String "",
    "MAIN_DB_SERVER" String "jdc1-scan-01",
    "MAIN_DB_SERVICE" String "{{ ORACLE_SERVICE }}",
    "MAIN_DB_SID" String "{{ ORACLE_SERVICE }}",
    "MAIN_DB_USER" String "{{ DB_MAIN_USERNAME }}",
    "MAIN_DB_VENDOR" String "oracle",
    "MAIN_DB_DATASOURCE" String "oracle.jdbc.pool.OracleConnectionPoolDataSource",
    "MAIN_DB_SUPPORTS_CONNECTION_CONTEXT" String "true",
    "POOL_DB_DRIVER" String "weblogic.jdbc.pool.Driver",
    "PUBLISH_DB_CODESET" String "Cp1252",
    // "PUBLISH_DB_DRIVER" String "weblogic.jdbc.mssqlserver4.Driver",
    "PUBLISH_DB_DRIVER" String "oracle.jdbc.OracleDriver",
    "PUBLISH_DB_INSTANCE" String "martini_PUBLISH",
    "PUBLISH_DB_DB2_DATABASE" String "martini",
    // Use "ORACLE ODBC DRIVER" for oracle.
    // Use "SQL Server" for sql server.
    // Use "IBM DB2 ODBC DRIVER" for IBM DB2.
    "PUBLISH_DB_ODBC_DRIVER" String "ORACLE ODBC DRIVER",
    "PUBLISH_DB_OWNER" String "dbo",
    "PUBLISH_DB_PASSWORD" String "",
    "PUBLISH_DB_SERVER" String "jdc1-scan-01",
    "PUBLISH_DB_SERVICE" String "{{ ORACLE_SERVICE }}",
    "PUBLISH_DB_SID" String "{{ ORACLE_SERVICE }}",
    "PUBLISH_DB_USER" String "{{ DB_PUBLISH_USERNAME }}",
    "PUBLISH_DB_VENDOR" String "oracle",
    "PUBLISH_DB_DATASOURCE" String "oracle.jdbc.pool.OracleConnectionPoolDataSource",
    "PUBLISH_DB_SUPPORTS_CONNECTION_CONTEXT" String "false",
    "SEARCH_DB_DRIVER" String "com.hcl.searchserver.jdbc.SSDriver",
    "SEARCH_DB_VENDOR" String "fulcrum",
    // SQL interfaces
    "SQL_CMD_BCP" String "bcp",
    "SQL_CMD_BMD_LOAD_OCI" String "$BMS_HOME/OCIDump",
    // These are the native programs used by mining to get data out of database fast.
    "SQL_CMD_BMD_LOAD_ODBC" String "$BMS_HOME/ODBCDump",
    "SQL_CMD_ISQL" String "isql",
    "SQL_CMD_SQLLDR" String "sqlldr",
    "SQL_CMD_SQLPLUS" String "sqlplus",
    "STORE_DB_CODESET" String "Cp1252",
    // "STORE_DB_DRIVER" String "weblogic.jdbc.mssqlserver4.Driver",
    "STORE_DB_DRIVER" String "oracle.jdbc.OracleDriver",
    "STORE_DB_INSTANCE" String "martini_STORE",
    "STORE_DB_DB2_DATABASE" String "martini",
    // Use "ORACLE ODBC DRIVER" for oracle.
    // Use "SQL Server" for sql server.
    // Use "IBM DB2 ODBC DRIVER" for IBM DB2.
    "STORE_DB_ODBC_DRIVER" String "ORACLE ODBC DRIVER",
    "STORE_DB_OWNER" String "dbo",
    "STORE_DB_PASSWORD" String "",
    "STORE_DB_SERVER" String "jdc1-scan-01",
    "STORE_DB_SERVICE" String "{{ ORACLE_SERVICE }}",
    "STORE_DB_SID" String "{{ ORACLE_SERVICE }}",
    "STORE_DB_USER" String "{{ DB_STORE_USERNAME }}",
    "STORE_DB_VENDOR" String "oracle",
    "STORE_DB_DATASOURCE" String "oracle.jdbc.pool.OracleConnectionPoolDataSource",
    "STORE_DB_SUPPORTS_CONNECTION_CONTEXT" String "true",
    "EAC_DB_CODESET" String "Cp1252",
    // "EAC_DB_DRIVER" String "weblogic.jdbc.mssqlserver4.Driver",
    "EAC_DB_DRIVER" String "oracle.jdbc.OracleDriver",
    "EAC_DB_INSTANCE" String "dev65_EAC",
    "EAC_DB_DB2_DATABASE" String "martini",
    // Use "ORACLE ODBC DRIVER" for oracle.
    // Use "SQL Server" for sql server.
    // Use "IBM DB2 ODBC DRIVER" for IBM DB2.
    "EAC_DB_ODBC_DRIVER" String "ORACLE ODBC DRIVER",
    "EAC_DB_OWNER" String "dbo",
    "EAC_DB_PASSWORD" String "",
    "EAC_DB_SERVER" String "jdc1-scan-01",
    "EAC_DB_SERVICE" String "{{ ORACLE_SERVICE }}",
    "EAC_DB_SID" String "{{ ORACLE_SERVICE }}",
    "EAC_DB_USER" String "{{ DB_EAC_USERNAME }}",
    "EAC_DB_VENDOR" String "oracle",
    "EAC_DB_DATASOURCE" String "oracle.jdbc.pool.OracleConnectionPoolDataSource",
    "EAC_DB_SUPPORTS_CONNECTION_CONTEXT" String "true",
    "RELMKT_DB_OWNER" String "dbo",
    "RELMKT_DB_SERVER" String "localhost",
    "RELMKT_DB_INSTANCE" String "martini_RELMKT",
    "RELMKT_DB_USER" String "martini",
    "RELMKT_DB_PASSWORD" String "martini",
    // "RELMKT_DB_DRIVER" String "weblogic.jdbc.mssqlserver4.Driver",
    "RELMKT_DB_DRIVER" String "com.microsoft.sqlserver.jdbc.SQLServerDriver",
    "RELMKT_DB_ODBC_DRIVER" String "SQL Server",
    "RELMKT_DB_VENDOR" String "microsoft",
    "RELMKT_DB_DATASOURCE" String "",
    "RELMKT_DB_CODESET" String "Cp1252",
    "RELMKT_DB_SUPPORTS_CONNECTION_CONTEXT" String "true",
    "MAIN_DB_ENCRYPTED_PASSWORD" String "{{ main_encrypted_password.stdout }}",
    "STORE_DB_ENCRYPTED_PASSWORD" String "{{ main_encrypted_password.stdout }}",
    "CLICKSTREAM_DB_ENCRYPTED_PASSWORD" String "{{ main_encrypted_password.stdout }}",
    "CLICKSTREAM_DB_DRIVER" String "oracle.jdbc.OracleDriver",
    "PUBLISH_DB_ENCRYPTED_PASSWORD" String "{{ main_encrypted_password.stdout }}",
    "EAC_DB_ENCRYPTED_PASSWORD" String "{{ eac_encrypted_password.stdout }}",
    // Custom databases
    "CUSTOM_DB_CODESET" String "Cp1252",
    "CUSTOM_DB_DRIVER" String "oracle.jdbc.OracleDriver",
    "CUSTOM_DB_INSTANCE" String "martini_CUSTOM",
    "CUSTOM_DB_DB2_DATABASE" String "martini",
    "CUSTOM_DB_ODBC_DRIVER" String "ORACLE ODBC DRIVER",
    "CUSTOM_DB_OWNER" String "dbo",
    "CUSTOM_DB_PASSWORD" String "",
    "CUSTOM_DB_SERVER" String "jdc1-scan-01",
    "CUSTOM_DB_SERVICE" String "{{ ORACLE_SERVICE }}",
    "CUSTOM_DB_SID" String "{{ ORACLE_SERVICE }}",
    "CUSTOM_DB_USER" String "{{ CUSTOM_DB_USER }}",
    "CUSTOM_DB_VENDOR" String "oracle",
    "CUSTOM_DB_DATASOURCE" String "oracle.jdbc.pool.OracleConnectionPoolDataSource",
    "CUSTOM_DB_SUPPORTS_CONNECTION_CONTEXT" String "true",
    "OMS_DB_CODESET" String "Cp1252",
    "OMS_DB_DRIVER" String "oracle.jdbc.OracleDriver",
    "OMS_DB_INSTANCE" String "martini_OMS",
    "OMS_DB_DB2_DATABASE" String "martini",
    "OMS_DB_ODBC_DRIVER" String "ORACLE ODBC DRIVER",
    "OMS_DB_OWNER" String "dbo",
    "OMS_DB_PASSWORD" String "",
    "OMS_DB_SERVER" String "jdc1-scan-01",
    "OMS_DB_SERVICE" String "{{ ORACLE_SERVICE }}",
    "OMS_DB_SID" String "{{ ORACLE_SERVICE }}",
    "OMS_DB_USER" String "{{ OMS_DB_USER }}",
    "OMS_DB_VENDOR" String "oracle",
    "OMS_DB_DATASOURCE" String "oracle.jdbc.pool.OracleConnectionPoolDataSource",
    "OMS_DB_SUPPORTS_CONNECTION_CONTEXT" String "true",
    "E4X_DB_CODESET" String "Cp1252",
    "E4X_DB_DRIVER" String "oracle.jdbc.OracleDriver",
    "E4X_DB_INSTANCE" String "{{ E4X_DB_USER }}",
    "E4X_DB_DB2_DATABASE" String "martini",
    "E4X_DB_ODBC_DRIVER" String "ORACLE ODBC DRIVER",
    "E4X_DB_OWNER" String "dbo",
    "E4X_DB_PASSWORD" String "{{ E4X_DB_PASSWORD }}",
    "E4X_DB_SERVER" String "jdc1-scan-01",
    "E4X_DB_SERVICE" String "{{ ORACLE_SERVICE }}",
    "E4X_DB_SID" String "{{ ORACLE_SERVICE }}",
    "E4X_DB_USER" String "{{ E4X_DB_USER }}",
    "E4X_DB_VENDOR" String "oracle",
    "E4X_DB_DATASOURCE" String "oracle.jdbc.pool.OracleConnectionPoolDataSource",
    "E4X_DB_SUPPORTS_CONNECTION_CONTEXT" String "true",
    "CUSTOM_DB_ENCRYPTED_PASSWORD" String "{{ main_encrypted_password.stdout }}",
    "OMS_DB_ENCRYPTED_PASSWORD" String "{{ main_encrypted_password.stdout }}"
    // Custom databases
}
