readDomain('appserver/weblogic/bluemartini')
connect('system','BlueMartini','t3://localhost:{{ ADMIN_STANDARD_PORT_INT }}')
edit()
startEdit()

#############################################
#         ____                       __     #
#        / __ )_________ _____  ____/ /     #
#       / __  / ___/ __ `/ __ \/ __  /      #
#      / /_/ / /  / /_/ / / / / /_/ /       #
#     /_____/_/   \__,_/_/ /_/\__,_/        #
#############################################

#############################################
# Factory_Custom Settings
#############################################

cd('/')
cmo.createJDBCSystemResource('com.bluemartini.dbpool.factory.custom')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.custom/JDBCResource/com.bluemartini.dbpool.factory.custom')
cmo.setName('com.bluemartini.dbpool.factory.custom')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.custom/JDBCResource/com.bluemartini.dbpool.factory.custom/JDBCDataSourceParams/com.bluemartini.dbpool.factory.custom')
set('JNDINames',jarray.array([String('com.bluemartini.dbpool.factory.custom')], String))

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.custom/JDBCResource/com.bluemartini.dbpool.factory.custom/JDBCDriverParams/com.bluemartini.dbpool.factory.custom')
cmo.setUrl('jdbc:oracle:thin:@jdc1-scan-01:1521/{{ ORACLE_SERVICE }}')
cmo.setDriverName('oracle.jdbc.OracleDriver')
cmo.setPassword("{{ DB_MAIN_PASSWORD }}")

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.custom/JDBCResource/com.bluemartini.dbpool.factory.custom/JDBCConnectionPoolParams/com.bluemartini.dbpool.factory.custom')
cmo.setTestTableName('SQL SELECT 1 FROM DUAL\r\n\r\n')
cmo.setMaxCapacity(5)
cmo.setShrinkFrequencySeconds(15)
cmo.setCapacityIncrement(1)
cmo.setInitialCapacity(1)

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.custom/JDBCResource/com.bluemartini.dbpool.factory.custom/JDBCDriverParams/com.bluemartini.dbpool.factory.custom/Properties/com.bluemartini.dbpool.factory.custom')
cmo.createProperty('user')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.custom/JDBCResource/com.bluemartini.dbpool.factory.custom/JDBCDriverParams/com.bluemartini.dbpool.factory.custom/Properties/com.bluemartini.dbpool.factory.custom/Properties/user')
cmo.setValue('{{ CUSTOM_DB_USER }}')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.custom/JDBCResource/com.bluemartini.dbpool.factory.custom/JDBCDriverParams/com.bluemartini.dbpool.factory.custom/Properties/com.bluemartini.dbpool.factory.custom')
cmo.createProperty('protocol')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.custom/JDBCResource/com.bluemartini.dbpool.factory.custom/JDBCDriverParams/com.bluemartini.dbpool.factory.custom/Properties/com.bluemartini.dbpool.factory.custom/Properties/protocol')
cmo.setValue('null')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.custom/JDBCResource/com.bluemartini.dbpool.factory.custom/JDBCDataSourceParams/com.bluemartini.dbpool.factory.custom')
cmo.setGlobalTransactionsProtocol('OnePhaseCommit')

cd('/SystemResources/com.bluemartini.dbpool.factory.custom')
set('Targets',jarray.array([ObjectName('com.bea:Name={{ BRAND }},Type=Server')], ObjectName))

#############################################
# Factory_E4X Settings
#############################################

cd('/')
cmo.createJDBCSystemResource('com.bluemartini.dbpool.factory.e4x')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.e4x/JDBCResource/com.bluemartini.dbpool.factory.e4x')
cmo.setName('com.bluemartini.dbpool.factory.e4x')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.e4x/JDBCResource/com.bluemartini.dbpool.factory.e4x/JDBCDataSourceParams/com.bluemartini.dbpool.factory.e4x')
set('JNDINames',jarray.array([String('com.bluemartini.dbpool.factory.e4x')], String))

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.e4x/JDBCResource/com.bluemartini.dbpool.factory.e4x/JDBCDriverParams/com.bluemartini.dbpool.factory.e4x')
cmo.setUrl('jdbc:oracle:thin:@jdc1-scan-01:1521/{{ ORACLE_SERVICE }}')
cmo.setDriverName('oracle.jdbc.OracleDriver')
cmo.setPassword("{{ E4X_DB_PASSWORD }}")

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.e4x/JDBCResource/com.bluemartini.dbpool.factory.e4x/JDBCConnectionPoolParams/com.bluemartini.dbpool.factory.e4x')
cmo.setTestTableName('SQL SELECT 1 FROM DUAL\r\n\r\n')
cmo.setMaxCapacity(5)
cmo.setShrinkFrequencySeconds(15)
cmo.setCapacityIncrement(1)
cmo.setInitialCapacity(1)

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.e4x/JDBCResource/com.bluemartini.dbpool.factory.e4x/JDBCDriverParams/com.bluemartini.dbpool.factory.e4x/Properties/com.bluemartini.dbpool.factory.e4x')
cmo.createProperty('user')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.e4x/JDBCResource/com.bluemartini.dbpool.factory.e4x/JDBCDriverParams/com.bluemartini.dbpool.factory.e4x/Properties/com.bluemartini.dbpool.factory.e4x/Properties/user')
cmo.setValue('{{ E4X_DB_USER }}')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.e4x/JDBCResource/com.bluemartini.dbpool.factory.e4x/JDBCDriverParams/com.bluemartini.dbpool.factory.e4x/Properties/com.bluemartini.dbpool.factory.e4x')
cmo.createProperty('protocol')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.e4x/JDBCResource/com.bluemartini.dbpool.factory.e4x/JDBCDriverParams/com.bluemartini.dbpool.factory.e4x/Properties/com.bluemartini.dbpool.factory.e4x/Properties/protocol')
cmo.setValue('null')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.e4x/JDBCResource/com.bluemartini.dbpool.factory.e4x/JDBCDataSourceParams/com.bluemartini.dbpool.factory.e4x')
cmo.setGlobalTransactionsProtocol('OnePhaseCommit')

cd('/SystemResources/com.bluemartini.dbpool.factory.e4x')
set('Targets',jarray.array([ObjectName('com.bea:Name={{ BRAND }},Type=Server')], ObjectName))

#############################################
# Factory_OMS Settings
#############################################
cd('/')
cmo.createJDBCSystemResource('com.bluemartini.dbpool.factory.oms')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.oms/JDBCResource/com.bluemartini.dbpool.factory.oms')
cmo.setName('com.bluemartini.dbpool.factory.oms')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.oms/JDBCResource/com.bluemartini.dbpool.factory.oms/JDBCDataSourceParams/com.bluemartini.dbpool.factory.oms')
set('JNDINames',jarray.array([String('com.bluemartini.dbpool.factory.oms')], String))

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.oms/JDBCResource/com.bluemartini.dbpool.factory.oms/JDBCDriverParams/com.bluemartini.dbpool.factory.oms')
cmo.setUrl('jdbc:oracle:thin:@jdc1-scan-01:1521/{{ ORACLE_SERVICE }}')
cmo.setDriverName('oracle.jdbc.OracleDriver')
cmo.setPassword("{{ DB_MAIN_PASSWORD }}")

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.oms/JDBCResource/com.bluemartini.dbpool.factory.oms/JDBCConnectionPoolParams/com.bluemartini.dbpool.factory.oms')
cmo.setTestTableName('SQL SELECT 1 FROM DUAL\r\n\r\n')
cmo.setMaxCapacity(5)
cmo.setShrinkFrequencySeconds(15)
cmo.setCapacityIncrement(1)
cmo.setInitialCapacity(1)

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.oms/JDBCResource/com.bluemartini.dbpool.factory.oms/JDBCDriverParams/com.bluemartini.dbpool.factory.oms/Properties/com.bluemartini.dbpool.factory.oms')
cmo.createProperty('user')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.oms/JDBCResource/com.bluemartini.dbpool.factory.oms/JDBCDriverParams/com.bluemartini.dbpool.factory.oms/Properties/com.bluemartini.dbpool.factory.oms/Properties/user')
cmo.setValue('{{ OMS_DB_USER }}')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.oms/JDBCResource/com.bluemartini.dbpool.factory.oms/JDBCDriverParams/com.bluemartini.dbpool.factory.oms/Properties/com.bluemartini.dbpool.factory.oms')
cmo.createProperty('protocol')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.oms/JDBCResource/com.bluemartini.dbpool.factory.oms/JDBCDriverParams/com.bluemartini.dbpool.factory.oms/Properties/com.bluemartini.dbpool.factory.oms/Properties/protocol')
cmo.setValue('null')

cd('/JDBCSystemResources/com.bluemartini.dbpool.factory.oms/JDBCResource/com.bluemartini.dbpool.factory.oms/JDBCDataSourceParams/com.bluemartini.dbpool.factory.oms')
cmo.setGlobalTransactionsProtocol('OnePhaseCommit')

cd('/SystemResources/com.bluemartini.dbpool.factory.oms')
set('Targets',jarray.array([ObjectName('com.bea:Name={{ BRAND }},Type=Server')], ObjectName))

#############################################
# JMS - Ads
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.factory.ads.PrescreenQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.factory.ads.PrescreenQueue')
cmo.setJNDIName('com.factory.ads.PrescreenQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - CancelRequest
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.factory.CancelRequestQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.factory.CancelRequestQueue')
cmo.setJNDIName('com.factory.CancelRequestQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - CancelResponse
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.factory.CancelResponseQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.factory.CancelResponseQueue')
cmo.setJNDIName('com.factory.CancelResponseQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - DLQ
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.factory.DLQ')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.factory.DLQ')
cmo.setJNDIName('com.factory.DLQ')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - InvAdj
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.factory.inventory.InvAdjQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.factory.inventory.InvAdjQueue')
cmo.setJNDIName('com.factory.inventory.InvAdjQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - StatusChange
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.factory.inventory.StatusChangeQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.factory.inventory.StatusChangeQueue')
cmo.setJNDIName('com.factory.inventory.StatusChangeQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - NewOrder
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.factory.NewOrderQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.factory.NewOrderQueue')
cmo.setJNDIName('com.factory.NewOrderQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - ReturnsQueue
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.factory.ReturnsQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.factory.ReturnsQueue')
cmo.setJNDIName('com.factory.ReturnsQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - ShippedQueue
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.factory.ShippedQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.factory.ShippedQueue')
cmo.setJNDIName('com.factory.ShippedQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - StatusQueue
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.factory.StatusQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.factory.StatusQueue')
cmo.setJNDIName('com.factory.StatusQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

save()
activate()
disconnect()
exit()
