readDomain('appserver/weblogic/bluemartini')
connect('system','BlueMartini','t3://localhost:{{ ADMIN_STANDARD_PORT_INT }}')
edit()
startEdit()

#############################################
#         ____                       __     #
#        / __ )_________ _____  ____/ /     #
#       / __  / ___/ __ `/ __ \/ __  /      #
#      / /_/ / /  / /_/ / / / / /_/ /       #
#     /_____/_/   \__,_/_/ /_/\__,_/        #
#############################################

#############################################
# JCREW_Custom Settings
#############################################

cd('/')
cmo.createJDBCSystemResource('com.bluemartini.dbpool.jcrew.custom')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.custom/JDBCResource/com.bluemartini.dbpool.jcrew.custom')
cmo.setName('com.bluemartini.dbpool.jcrew.custom')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.custom/JDBCResource/com.bluemartini.dbpool.jcrew.custom/JDBCDataSourceParams/com.bluemartini.dbpool.jcrew.custom')
set('JNDINames',jarray.array([String('com.bluemartini.dbpool.jcrew.custom')], String))

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.custom/JDBCResource/com.bluemartini.dbpool.jcrew.custom/JDBCDriverParams/com.bluemartini.dbpool.jcrew.custom')
cmo.setUrl('jdbc:oracle:thin:@jdc1-scan-01:1521/{{ ORACLE_SERVICE }}')
cmo.setDriverName('oracle.jdbc.OracleDriver')
cmo.setPassword("{{ DB_MAIN_PASSWORD }}")

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.custom/JDBCResource/com.bluemartini.dbpool.jcrew.custom/JDBCConnectionPoolParams/com.bluemartini.dbpool.jcrew.custom')
cmo.setTestTableName('SQL SELECT 1 FROM DUAL\r\n\r\n')
cmo.setMaxCapacity(5)
cmo.setShrinkFrequencySeconds(15)
cmo.setCapacityIncrement(1)
cmo.setInitialCapacity(1)

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.custom/JDBCResource/com.bluemartini.dbpool.jcrew.custom/JDBCDriverParams/com.bluemartini.dbpool.jcrew.custom/Properties/com.bluemartini.dbpool.jcrew.custom')
cmo.createProperty('user')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.custom/JDBCResource/com.bluemartini.dbpool.jcrew.custom/JDBCDriverParams/com.bluemartini.dbpool.jcrew.custom/Properties/com.bluemartini.dbpool.jcrew.custom/Properties/user')
cmo.setValue('{{ CUSTOM_DB_USER }}')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.custom/JDBCResource/com.bluemartini.dbpool.jcrew.custom/JDBCDriverParams/com.bluemartini.dbpool.jcrew.custom/Properties/com.bluemartini.dbpool.jcrew.custom')
cmo.createProperty('protocol')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.custom/JDBCResource/com.bluemartini.dbpool.jcrew.custom/JDBCDriverParams/com.bluemartini.dbpool.jcrew.custom/Properties/com.bluemartini.dbpool.jcrew.custom/Properties/protocol')
cmo.setValue('null')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.custom/JDBCResource/com.bluemartini.dbpool.jcrew.custom/JDBCDataSourceParams/com.bluemartini.dbpool.jcrew.custom')
cmo.setGlobalTransactionsProtocol('OnePhaseCommit')

cd('/SystemResources/com.bluemartini.dbpool.jcrew.custom')
set('Targets',jarray.array([ObjectName('com.bea:Name={{ BRAND }},Type=Server')], ObjectName))

#############################################
# JCREW_E4X Settings
#############################################

cd('/')
cmo.createJDBCSystemResource('com.bluemartini.dbpool.jcrew.e4x')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.e4x/JDBCResource/com.bluemartini.dbpool.jcrew.e4x')
cmo.setName('com.bluemartini.dbpool.jcrew.e4x')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.e4x/JDBCResource/com.bluemartini.dbpool.jcrew.e4x/JDBCDataSourceParams/com.bluemartini.dbpool.jcrew.e4x')
set('JNDINames',jarray.array([String('com.bluemartini.dbpool.jcrew.e4x')], String))

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.e4x/JDBCResource/com.bluemartini.dbpool.jcrew.e4x/JDBCDriverParams/com.bluemartini.dbpool.jcrew.e4x')
cmo.setUrl('jdbc:oracle:thin:@jdc1-scan-01:1521/{{ ORACLE_SERVICE }}')
cmo.setDriverName('oracle.jdbc.OracleDriver')
cmo.setPassword("{{ E4X_DB_PASSWORD }}")

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.e4x/JDBCResource/com.bluemartini.dbpool.jcrew.e4x/JDBCConnectionPoolParams/com.bluemartini.dbpool.jcrew.e4x')
cmo.setTestTableName('SQL SELECT 1 FROM DUAL\r\n\r\n')
cmo.setMaxCapacity(5)
cmo.setShrinkFrequencySeconds(15)
cmo.setCapacityIncrement(1)
cmo.setInitialCapacity(1)

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.e4x/JDBCResource/com.bluemartini.dbpool.jcrew.e4x/JDBCDriverParams/com.bluemartini.dbpool.jcrew.e4x/Properties/com.bluemartini.dbpool.jcrew.e4x')
cmo.createProperty('user')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.e4x/JDBCResource/com.bluemartini.dbpool.jcrew.e4x/JDBCDriverParams/com.bluemartini.dbpool.jcrew.e4x/Properties/com.bluemartini.dbpool.jcrew.e4x/Properties/user')
cmo.setValue('{{ E4X_DB_PASSWORD }}')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.e4x/JDBCResource/com.bluemartini.dbpool.jcrew.e4x/JDBCDriverParams/com.bluemartini.dbpool.jcrew.e4x/Properties/com.bluemartini.dbpool.jcrew.e4x')
cmo.createProperty('protocol')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.e4x/JDBCResource/com.bluemartini.dbpool.jcrew.e4x/JDBCDriverParams/com.bluemartini.dbpool.jcrew.e4x/Properties/com.bluemartini.dbpool.jcrew.e4x/Properties/protocol')
cmo.setValue('null')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.e4x/JDBCResource/com.bluemartini.dbpool.jcrew.e4x/JDBCDataSourceParams/com.bluemartini.dbpool.jcrew.e4x')
cmo.setGlobalTransactionsProtocol('OnePhaseCommit')

cd('/SystemResources/com.bluemartini.dbpool.jcrew.e4x')
set('Targets',jarray.array([ObjectName('com.bea:Name={{ BRAND }},Type=Server')], ObjectName))

#############################################
# JCREW_OMS Settings
#############################################
cd('/')
cmo.createJDBCSystemResource('com.bluemartini.dbpool.jcrew.oms')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.oms/JDBCResource/com.bluemartini.dbpool.jcrew.oms')
cmo.setName('com.bluemartini.dbpool.jcrew.oms')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.oms/JDBCResource/com.bluemartini.dbpool.jcrew.oms/JDBCDataSourceParams/com.bluemartini.dbpool.jcrew.oms')
set('JNDINames',jarray.array([String('com.bluemartini.dbpool.jcrew.oms')], String))

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.oms/JDBCResource/com.bluemartini.dbpool.jcrew.oms/JDBCDriverParams/com.bluemartini.dbpool.jcrew.oms')
cmo.setUrl('jdbc:oracle:thin:@jdc1-scan-01:1521/{{ ORACLE_SERVICE }}')
cmo.setDriverName('oracle.jdbc.OracleDriver')
cmo.setPassword("{{ DB_MAIN_PASSWORD }}")

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.oms/JDBCResource/com.bluemartini.dbpool.jcrew.oms/JDBCConnectionPoolParams/com.bluemartini.dbpool.jcrew.oms')
cmo.setTestTableName('SQL SELECT 1 FROM DUAL\r\n\r\n')
cmo.setMaxCapacity(5)
cmo.setShrinkFrequencySeconds(15)
cmo.setCapacityIncrement(1)
cmo.setInitialCapacity(1)

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.oms/JDBCResource/com.bluemartini.dbpool.jcrew.oms/JDBCDriverParams/com.bluemartini.dbpool.jcrew.oms/Properties/com.bluemartini.dbpool.jcrew.oms')
cmo.createProperty('user')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.oms/JDBCResource/com.bluemartini.dbpool.jcrew.oms/JDBCDriverParams/com.bluemartini.dbpool.jcrew.oms/Properties/com.bluemartini.dbpool.jcrew.oms/Properties/user')
cmo.setValue('{{ OMS_DB_USER }}')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.oms/JDBCResource/com.bluemartini.dbpool.jcrew.oms/JDBCDriverParams/com.bluemartini.dbpool.jcrew.oms/Properties/com.bluemartini.dbpool.jcrew.oms')
cmo.createProperty('protocol')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.oms/JDBCResource/com.bluemartini.dbpool.jcrew.oms/JDBCDriverParams/com.bluemartini.dbpool.jcrew.oms/Properties/com.bluemartini.dbpool.jcrew.oms/Properties/protocol')
cmo.setValue('null')

cd('/JDBCSystemResources/com.bluemartini.dbpool.jcrew.oms/JDBCResource/com.bluemartini.dbpool.jcrew.oms/JDBCDataSourceParams/com.bluemartini.dbpool.jcrew.oms')
cmo.setGlobalTransactionsProtocol('OnePhaseCommit')

cd('/SystemResources/com.bluemartini.dbpool.jcrew.oms')
set('Targets',jarray.array([ObjectName('com.bea:Name={{ BRAND }},Type=Server')], ObjectName))

#############################################
#      ______            __             __  #
#     / ____/___  ____  / /_____ ______/ /_ #
#    / /   / __ \/ __ \/ __/ __ `/ ___/ __/ #
#   / /___/ /_/ / / / / /_/ /_/ / /__/ /_   #
#   \____/\____/_/ /_/\__/\__,_/\___/\__/   #
#############################################

#############################################
# ContactCenter_Custom Settings
#############################################

cd('/')
cmo.createJDBCSystemResource('com.bluemartini.dbpool.ContactCenter.custom')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.custom/JDBCResource/com.bluemartini.dbpool.ContactCenter.custom')
cmo.setName('com.bluemartini.dbpool.ContactCenter.custom')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.custom/JDBCResource/com.bluemartini.dbpool.ContactCenter.custom/JDBCDataSourceParams/com.bluemartini.dbpool.ContactCenter.custom')
set('JNDINames',jarray.array([String('com.bluemartini.dbpool.ContactCenter.custom')], String))

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.custom/JDBCResource/com.bluemartini.dbpool.ContactCenter.custom/JDBCDriverParams/com.bluemartini.dbpool.ContactCenter.custom')
cmo.setUrl('jdbc:oracle:thin:@jdc1-scan-01:1521/{{ ORACLE_SERVICE }}')
cmo.setDriverName('oracle.jdbc.OracleDriver')
cmo.setPassword("{{ DB_MAIN_PASSWORD }}")

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.custom/JDBCResource/com.bluemartini.dbpool.ContactCenter.custom/JDBCConnectionPoolParams/com.bluemartini.dbpool.ContactCenter.custom')
cmo.setTestTableName('SQL SELECT 1 FROM DUAL\r\n\r\n')
cmo.setMaxCapacity(5)
cmo.setShrinkFrequencySeconds(15)
cmo.setCapacityIncrement(1)
cmo.setInitialCapacity(1)

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.custom/JDBCResource/com.bluemartini.dbpool.ContactCenter.custom/JDBCDriverParams/com.bluemartini.dbpool.ContactCenter.custom/Properties/com.bluemartini.dbpool.ContactCenter.custom')
cmo.createProperty('user')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.custom/JDBCResource/com.bluemartini.dbpool.ContactCenter.custom/JDBCDriverParams/com.bluemartini.dbpool.ContactCenter.custom/Properties/com.bluemartini.dbpool.ContactCenter.custom/Properties/user')
cmo.setValue('{{ CUSTOM_DB_USER }}')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.custom/JDBCResource/com.bluemartini.dbpool.ContactCenter.custom/JDBCDriverParams/com.bluemartini.dbpool.ContactCenter.custom/Properties/com.bluemartini.dbpool.ContactCenter.custom')
cmo.createProperty('protocol')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.custom/JDBCResource/com.bluemartini.dbpool.ContactCenter.custom/JDBCDriverParams/com.bluemartini.dbpool.ContactCenter.custom/Properties/com.bluemartini.dbpool.ContactCenter.custom/Properties/protocol')
cmo.setValue('null')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.custom/JDBCResource/com.bluemartini.dbpool.ContactCenter.custom/JDBCDataSourceParams/com.bluemartini.dbpool.ContactCenter.custom')
cmo.setGlobalTransactionsProtocol('OnePhaseCommit')

cd('/SystemResources/com.bluemartini.dbpool.ContactCenter.custom')
set('Targets',jarray.array([ObjectName('com.bea:Name=ContactCenter,Type=Server')], ObjectName))

#############################################
# ContactCenter_E4X Settings
#############################################

cd('/')
cmo.createJDBCSystemResource('com.bluemartini.dbpool.ContactCenter.e4x')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.e4x/JDBCResource/com.bluemartini.dbpool.ContactCenter.e4x')
cmo.setName('com.bluemartini.dbpool.ContactCenter.e4x')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.e4x/JDBCResource/com.bluemartini.dbpool.ContactCenter.e4x/JDBCDataSourceParams/com.bluemartini.dbpool.ContactCenter.e4x')
set('JNDINames',jarray.array([String('com.bluemartini.dbpool.ContactCenter.e4x')], String))

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.e4x/JDBCResource/com.bluemartini.dbpool.ContactCenter.e4x/JDBCDriverParams/com.bluemartini.dbpool.ContactCenter.e4x')
cmo.setUrl('jdbc:oracle:thin:@jdc1-scan-01:1521/{{ ORACLE_SERVICE }}')
cmo.setDriverName('oracle.jdbc.OracleDriver')
cmo.setPassword("{{ E4X_DB_PASSWORD }}")

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.e4x/JDBCResource/com.bluemartini.dbpool.ContactCenter.e4x/JDBCConnectionPoolParams/com.bluemartini.dbpool.ContactCenter.e4x')
cmo.setTestTableName('SQL SELECT 1 FROM DUAL\r\n\r\n')
cmo.setMaxCapacity(5)
cmo.setShrinkFrequencySeconds(15)
cmo.setCapacityIncrement(1)
cmo.setInitialCapacity(1)

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.e4x/JDBCResource/com.bluemartini.dbpool.ContactCenter.e4x/JDBCDriverParams/com.bluemartini.dbpool.ContactCenter.e4x/Properties/com.bluemartini.dbpool.ContactCenter.e4x')
cmo.createProperty('user')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.e4x/JDBCResource/com.bluemartini.dbpool.ContactCenter.e4x/JDBCDriverParams/com.bluemartini.dbpool.ContactCenter.e4x/Properties/com.bluemartini.dbpool.ContactCenter.e4x/Properties/user')
cmo.setValue('{{ E4X_DB_PASSWORD }}')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.e4x/JDBCResource/com.bluemartini.dbpool.ContactCenter.e4x/JDBCDriverParams/com.bluemartini.dbpool.ContactCenter.e4x/Properties/com.bluemartini.dbpool.ContactCenter.e4x')
cmo.createProperty('protocol')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.e4x/JDBCResource/com.bluemartini.dbpool.ContactCenter.e4x/JDBCDriverParams/com.bluemartini.dbpool.ContactCenter.e4x/Properties/com.bluemartini.dbpool.ContactCenter.e4x/Properties/protocol')
cmo.setValue('null')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.e4x/JDBCResource/com.bluemartini.dbpool.ContactCenter.e4x/JDBCDataSourceParams/com.bluemartini.dbpool.ContactCenter.e4x')
cmo.setGlobalTransactionsProtocol('OnePhaseCommit')

cd('/SystemResources/com.bluemartini.dbpool.ContactCenter.e4x')
set('Targets',jarray.array([ObjectName('com.bea:Name=ContactCenter,Type=Server')], ObjectName))

#############################################
# ContactCenter_OMS Settings
#############################################
cd('/')
cmo.createJDBCSystemResource('com.bluemartini.dbpool.ContactCenter.oms')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.oms/JDBCResource/com.bluemartini.dbpool.ContactCenter.oms')
cmo.setName('com.bluemartini.dbpool.ContactCenter.oms')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.oms/JDBCResource/com.bluemartini.dbpool.ContactCenter.oms/JDBCDataSourceParams/com.bluemartini.dbpool.ContactCenter.oms')
set('JNDINames',jarray.array([String('com.bluemartini.dbpool.ContactCenter.oms')], String))

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.oms/JDBCResource/com.bluemartini.dbpool.ContactCenter.oms/JDBCDriverParams/com.bluemartini.dbpool.ContactCenter.oms')
cmo.setUrl('jdbc:oracle:thin:@jdc1-scan-01:1521/{{ ORACLE_SERVICE }}')
cmo.setDriverName('oracle.jdbc.OracleDriver')
cmo.setPassword("{{ DB_MAIN_PASSWORD }}")

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.oms/JDBCResource/com.bluemartini.dbpool.ContactCenter.oms/JDBCConnectionPoolParams/com.bluemartini.dbpool.ContactCenter.oms')
cmo.setTestTableName('SQL SELECT 1 FROM DUAL\r\n\r\n')
cmo.setMaxCapacity(5)
cmo.setShrinkFrequencySeconds(15)
cmo.setCapacityIncrement(1)
cmo.setInitialCapacity(1)

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.oms/JDBCResource/com.bluemartini.dbpool.ContactCenter.oms/JDBCDriverParams/com.bluemartini.dbpool.ContactCenter.oms/Properties/com.bluemartini.dbpool.ContactCenter.oms')
cmo.createProperty('user')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.oms/JDBCResource/com.bluemartini.dbpool.ContactCenter.oms/JDBCDriverParams/com.bluemartini.dbpool.ContactCenter.oms/Properties/com.bluemartini.dbpool.ContactCenter.oms/Properties/user')
cmo.setValue('{{ OMS_DB_USER }}')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.oms/JDBCResource/com.bluemartini.dbpool.ContactCenter.oms/JDBCDriverParams/com.bluemartini.dbpool.ContactCenter.oms/Properties/com.bluemartini.dbpool.ContactCenter.oms')
cmo.createProperty('protocol')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.oms/JDBCResource/com.bluemartini.dbpool.ContactCenter.oms/JDBCDriverParams/com.bluemartini.dbpool.ContactCenter.oms/Properties/com.bluemartini.dbpool.ContactCenter.oms/Properties/protocol')
cmo.setValue('null')

cd('/JDBCSystemResources/com.bluemartini.dbpool.ContactCenter.oms/JDBCResource/com.bluemartini.dbpool.ContactCenter.oms/JDBCDataSourceParams/com.bluemartini.dbpool.ContactCenter.oms')
cmo.setGlobalTransactionsProtocol('OnePhaseCommit')

cd('/SystemResources/com.bluemartini.dbpool.ContactCenter.oms')
set('Targets',jarray.array([ObjectName('com.bea:Name=ContactCenter,Type=Server')], ObjectName))

#############################################
#                  ____  ________           #
#                 / /  |/  / ___/           #
#            __  / / /|_/ /\__ \            #
#           / /_/ / /  / /___/ /            #
#           \____/_/  /_//____/             #
#############################################

#############################################
# JMS - Ads
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.jcrew.ads.PrescreenQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.jcrew.ads.PrescreenQueue')
cmo.setJNDIName('com.jcrew.ads.PrescreenQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - CancelRequest
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.jcrew.CancelRequestQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.jcrew.CancelRequestQueue')
cmo.setJNDIName('com.jcrew.CancelRequestQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - CancelResponse
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.jcrew.CancelResponseQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.jcrew.CancelResponseQueue')
cmo.setJNDIName('com.jcrew.CancelResponseQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - DLQ
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.jcrew.DLQ')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.jcrew.DLQ')
cmo.setJNDIName('com.jcrew.DLQ')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - InvAdj
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.jcrew.inventory.InvAdjQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.jcrew.inventory.InvAdjQueue')
cmo.setJNDIName('com.jcrew.inventory.InvAdjQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - StatusChange
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.jcrew.inventory.StatusChangeQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.jcrew.inventory.StatusChangeQueue')
cmo.setJNDIName('com.jcrew.inventory.StatusChangeQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - NewOrder
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.jcrew.NewOrderQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.jcrew.NewOrderQueue')
cmo.setJNDIName('com.jcrew.NewOrderQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - ReturnsQueue
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.jcrew.ReturnsQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.jcrew.ReturnsQueue')
cmo.setJNDIName('com.jcrew.ReturnsQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - ShippedQueue
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.jcrew.ShippedQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.jcrew.ShippedQueue')
cmo.setJNDIName('com.jcrew.ShippedQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

#############################################
# JMS - StatusQueue
#############################################
cd('/')
cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource')
cmo.createQueue('com.jcrew.StatusQueue')

cd('/JMSSystemResources/JMSBMJMSSystemResource/JMSResource/JMSBMJMSSystemResource/Queues/com.jcrew.StatusQueue')
cmo.setJNDIName('com.jcrew.StatusQueue')
cmo.setSubDeploymentName('JMSTopicsAndQueues')

cd('/SystemResources/JMSBMJMSSystemResource/SubDeployments/JMSTopicsAndQueues')
set('Targets',jarray.array([ObjectName('com.bea:Name=JMS.BMJMSServer,Type=JMSServer')], ObjectName))

save()
activate()
disconnect()
exit()
