BMS_ENV=env.dna;${BMS_HOME}/${BMS_BASEMODULE}/config/plan.dna
BIZACT_CHECK_SECONDS=5
CONFIG_CHECK_SECONDS=5
ADS_URL=retailuat.alldata.net
ADS_USERID=RTAD021
ADS_PASSWORD=021RTAD9
BAYNOTE_CUSTOMER_ID=jcrew
BAYNOTE_REST_URL=http://jcrew-www.baynote.net/baynote/guiderest?
BAYNOTE_REST_WS_SWITCH=false
BAYNOTE_PRODUCT_DETAIL_GUIDE=prodDetail
BAYNOTE_SHOPPING_CART_GUIDE=Cart
BAYNOTE_SUPPORTED_DOMAIN_NAME=www.jcrew.com
BAYNOTE_TIMEOUT_MILLIS=300
COHERENCE_USE_CACHE=true
COHERENCE_CLUSTER_ADDRESS=coherence_cluster_address
COHERENCE_USE_UNVERSIONED_CACHE=true
CYBERSOURCE_ENABLED=true
CYBERSOURCE_ICS_SERVER=ics2test.ic3.com
CYBERSOURCE_MERCHANT_ID=jcrewcsdev
FACTORY_CYBERSOURCE_MERCHANT_ID=jcrewfactorycsdev
E4X_CHECKOUT_API_URL=https://sandbox.fiftyone.com/checkout/checkoutAPI.srv
E4X_CHECKOUT_URL=https://sandbox.fiftyone.com/checkout/CheckoutServlet.srv
E4X_ENCRYPTED=false
E4X_MERCHANT_NAME=J. Crew
E4X_MERCHANT_ID=2785
E4X_PASSWORD=/BM1Se+r
E4X_USER_ID=jcrew_stag_amb
ENDECA_ENE_HOST=10.20.9.50
ENDECA_LOG_SERVER_HOST=10.20.9.50
LIVECHAT_ENABLED=true
LIVECHAT_LP_UNIT=jcrew
LIVECHAT_LP_NUM=14892894
MBOX_ENABLED=false
PAYPAL_CHECKOUT_URL=https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=
PROCLIVITY_ENABLED=false
#PROCLIVITY_HOST=wecqa.pswec.com/px/9c6b090cf1/v3
# Temporary workaround (for what?)
PROCLIVITY_HOST=www.pswec.com/px/9c6b090cf1/v3
QAS_URL=http://10.20.9.49:2023
SVS_STORE_NUMBER=0000000999
SVS_URL=https://ws-tpcert.storedvalue.com/gcweb/services/GiftCardOnline
VERTEX_HOSTNAME=-lhttp://10.20.9.46:8081/vertex-ws/services/CalculateTaxDoc
SVS_USERNAME=jcrewx-uat
SVS_PASSWORD=C10th3\$!u\@t
SITEMAP_SITE_URL=http://www.jcrew.com
SITEMAP_OUTPUT_FILE=/opt/software/bm10/jcrew1/sitemap.xml
CHEETAH_PIXEL_URL_PREFIX=https://e.jcrew.com/a/r1615717114/jcrew.gif
DB_STORE_POOL_INIT_CAPACITY=10
DB_STORE_POOL_MAX_CAPACITY=20
DB_STORE_POOL_CAPACITY_INC=5
DB_MAIN_POOL_INIT_CAPACITY=10
DB_MAIN_POOL_MAX_CAPACITY=20
DB_MAIN_POOL_CAPACITY_INC=5
DB_SEARCH_POOL_INIT_CAPACITY=2
DB_SEARCH_POOL_MAX_CAPACITY=20
DB_SEARCH_POOL_CAPACITY_INC=5
DB_CUSTOM_POOL_INIT_CAPACITY=10
DB_CUSTOM_POOL_MAX_CAPACITY=30
DB_CUSTOM_POOL_CAPACITY_INC=5
DB_OMS_POOL_INIT_CAPACITY=10
DB_OMS_POOL_MAX_CAPACITY=30
DB_OMS_POOL_CAPACITY_INC=5
DB_E4X_POOL_INIT_CAPACITY=1
DB_E4X_POOL_MAX_CAPACITY=5
DB_E4X_POOL_CAPACITY_INC=1
DB_CLICKSTREAM_POOL_INIT_CAPACITY=2
DB_CLICKSTREAM_POOL_MAX_CAPACITY=20
DB_CLICKSTREAM_POOL_CAPACITY_INC=1
HTTPS_PORT={{ HTTPS_PORT }}
BMS_WEBSITE_HTTPS_PORT={{ HTTPS_PORT }}
HTTP_PORT={{ HTTP_PORT }}
ALWAYS_ON_SSL=false
HEARTBEAT_SLEEP_SECONDS=500
