DNA {
    "USING_ENV" String "{{ BM_ENV }}",
    "HTTPS_PORT" String "443",
    "HTTP_PORT" String "80",
    "BMS_DEVELOPMENT" String "true",
    "ENDECA_ENE_HOST_2" String "{{ ENDECA_HOST }}",
    "ENDECA_LOG_SERVER_HOST_2" String "{{ ENDECA_HOST }}",
    "BMS_OMNITURE_SUITE" String "jcrewsidecardev",
    "BMS_OMNITURE_MOBILE_SUITE" String "jcrewsidecardev",
    "SIDECAR_SERVER_URL" String "http://{{ansible_hostname}}.jcrew.com",
    "BMS_WEBSITE_URL" String "http://{{ansible_hostname}}.jcrew.com",
    "BMS_WEBSITE_SECURE_URL" String "https://{{ansible_hostname}}.jcrew.com",
    "APPCONFIG_PORTS_INCLUDE_DNA" String "webserver-ports-variables.dna"
}
